/* https://tailwindcolor.com */
:root {
    --blue-gray-color-50: #f8fafc;
    --blue-gray-color-100: #F1F5F9;
    --blue-gray-color-200: #E2E8F0;
    --blue-gray-color-300: #CBD5E1;
    --blue-gray-color-400: #94A3B8;
    --blue-gray-color-500: #64748b;
    --blue-gray-color-600: #475569;
    --blue-gray-color-700: #334155;
    --blue-gray-color-800: #1e293b;
    --blue-gray-color-900: #0f172a;
  
    --font-size: 16px;
    --text-color-50: var(--blue-gray-color-50);

    --modal-content-background: var(--blue-gray-color-200);
  }