.login {
  display: flex;
  flex-direction: column;
}

.login header {
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.login footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.login input {
  padding: 10px;
  margin: 10px 0;
}

.login button {
  padding: 10px;
}