.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color-50);
  font-size: var(--font-size);
}

.store {
  display: flex;
  align-items: flex-start;
}

.store > * {
  display: flex;
  flex-direction: column;
}